*{
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
:root{
    font-size: 18px;
    --headerHeight: 60px;
    /* --titleContainerHeight: 14vh; */
    --textColorBlack: #282828;
}

body{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    color: var(--textColorBlack);
}

.title-container{
    display: flex;
    /* height: var(--titleContainerHeight); */
    flex: 1;
    align-items: end;
    margin-bottom: 40px;
    /* border: 2px solid green; */
}
.title-container div{
    flex: 1;
    padding-top: 48px;
}

.title-container div:last-child {
    display: flex;
    justify-content: end;
    align-items: center;
}

.title-container h2{
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
}

.add-book-btn{
    width: 160px;
    height: 40px;
    border: none;
    background-color:unset;
    cursor: pointer;
    font-size: 1rem;
}

.add-book-btn:hover{
    text-decoration: underline;
}

.content{
    /* border: 1px solid rgb(13, 136, 91); */
    height: calc(100vh - var(--headerHeight));
    width: 70vw;
    display: flex;
    flex-direction: column;
}

header{
    height: var(--headerHeight);
    width: 100vw;
    display: flex;
    justify-content: end;
    padding-right: 60px;
}

.theme-btn{
    border: none;
    background-color: unset;
    cursor: pointer;
    margin: 0px 12px;
    font-weight: 400;
    font-size: 0.8rem;
}

footer{
    height: var(--headerHeight);
    font-size: 0.8rem;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.library-container{
    flex: 9;
    overflow: scroll;
}

.empty-message-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid green; */
    height: 70vh;
}

.empty-message-container div {
    flex: 1;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.empty-message-container div:nth-child(2){
    translate: 0px 0px;
}

.font-size-big{
    font-size: 1.6rem;
    font-weight: 400;
}

.font-size-medium{
    font-size: 1.1rem;
    font-weight: 400;
}

.font-size-regular{
    font-size: 0.9rem;
    font-weight: 400;
}
.font-size-small{
    font-size: 0.8rem;
    font-weight: 400;
}



.circle-add-btn{
    background-image: url(images/plus-circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: unset;
    border: none;
    height: 48px;
    margin-top: 12px;
    cursor: pointer;
}

.add-first-book-btn{
    height: 48px;
    padding: 12px;
    border-radius: 100px;
    background-color: rgb(83, 158, 85);
    color: white;
    cursor: pointer;
    border: none;
}

.add-first-book-btn:hover{
    background-color: rgb(125, 172, 126);
}

.example-button{
    background-color: unset;
    border: none;
    cursor: pointer;
}

.example-button:hover{
    text-decoration: underline;
}

.medium-bold {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}
.faded{
    color: #636363;
}

.hidden{
    display: none;
}

.grid-container{
    /* margin-top: 64px; */
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: min-content;
    gap: 32px;
    justify-items: center;
}

.card{
    position: relative;
    border: 2.5px solid #7AA4CB;
    width: 100%;
    max-width: 350px;
    height: min-content;
    justify-self: center;
    align-self: center;
    padding: 18px 20px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.22);
}

/* .card:last-of-type{
    justify-self: start;
}
.card:first-of-type{
    justify-self: end;
}
.card:only-of-type{
    justify-self: center;
} */


/* .card:hover{
    scale: 101%;
    cursor: pointer;
} */

.card div:nth-child(2){
    /* margin-top: -6px; */
    margin-bottom: 20px;
}

.card>div:last-child{
    align-self: self-end;
}
.card>div:last-child:hover{
    color:rgb(208, 99, 99);
    cursor: pointer;
}

.card>div:first-child{
    display: flex;
    align-items: center;
}

.check-mark{
    margin-left: auto;
}

.card img{
    cursor: pointer;
}

.mark-as-read{
    position: absolute;
    width: max-content;
    height: max-content;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.226);
    padding: 6px;
    visibility: hidden;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(255, 0, 0, 0.271);
}



.modal{
    position: absolute;
    top: 27%;
    left: calc(50% - 175px);
    width: 350px;
    background-color: white;
    border-radius: 18px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 28px;
    z-index: 10;
}

.modal>input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid rgb(47, 47, 47);
    height: 32px;
    margin-bottom: 32px;
    font-size: 0.9rem;
}

.modal>input:focus{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid rgb(47, 47, 47);
    outline: none;
}

.modal h3{
    margin-bottom: 18px;
}

.modal button{
    border: none;
    background-color: unset;
    cursor: pointer;
}

.modal button:hover{
    text-decoration: underline;
}

.modal img{
    cursor: pointer;
}

.modal .star-container{
    margin-top: 12px;
    margin-bottom: 24px;
}

/* .modal img.gold, img.selected-rating{
    content: url(images/star_gold.svg);
} */

.checkbox{
    margin-bottom: 42px;
    margin-right: 12px;
    cursor: pointer;
}
.modal div:last-child{
    display: flex;
    justify-content: end;
}

.star-container{
    height: min-content;
}

.star.gold ~ img{
    content: url(images/star.svg);
}

.star.no-rating {
    content: url(images/star.svg);
}
a{
    text-decoration: none;
    color: unset;
}
